In [9]:
import pandas as pd
import numpy as np

In [8]:
import matplotlib.pyplot as plt
pd.set_option('max_columns', 50)
%matplotlib inline

In [10]:
# create a Series with an arbitrary list
s = pd.Series([7, 'Heisenberg', 3.14, -1789710578, 'Happy Eating!'])
s

0                7
1       Heisenberg
2             3.14
3      -1789710578
4    Happy Eating!
dtype: object

In [11]:
routes = pd.read_csv('Long Island Rail Road/routes.txt').set_index('route_id')
routes

,route_short_name,route_long_name,route_type,route_color,route_text_color
route_id,,,,,
1,NaN,Babylon,2,00985F,FFFFFF
2,NaN,Hempstead,2,CE8E00,FFFFFF
3,NaN,Oyster Bay,2,00AF3F,FFFFFF
4,NaN,Ronkonkoma,2,A626AA,FFFFFF
5,NaN,Montauk,2,006983,FFFFFF
6,NaN,Long Beach,2,FF6319,FFFFFF
7,NaN,Far Rockaway,2,6E3219,FFFFFF
8,NaN,West Hempstead,2,00A1DE,FFFFFF
9,NaN,Port Washington,2,C60C30,FFFFFF
10,NaN,Port Jefferson,2,0039A6,FFFFFF
11,NaN,Belmont,2,FFFFFF,000000
12,NaN,City Zone,2,4D5357,FFFFFF

In [55]:
#stops = pd.read_csv('Long Island Rail Road/stops.txt').set_index('stop_id')
stops = pd.read_csv('Long Island Rail Road/stops.txt')
print stops
stops[(stops["stop_name"]=="Hicksville")]

     stop_id             stop_name   stop_lat  stop_lon
0          1      Long Island City  40.741280 -73.95639
1          2   Hunterspoint Avenue  40.742380 -73.94679
2          8          Penn Station  40.750580 -73.99358
3          9              Woodside  40.745840 -73.90297
4         10          Forest Hills  40.719570 -73.84481
5         11           Kew Gardens  40.709640 -73.83089
6         12     Atlantic Terminal  40.684901 -73.97768
7         13       Nostrand Avenue  40.678380 -73.94822
8         14         East New York  40.675800 -73.90281
9         15               Jamaica  40.699600 -73.80853
10        17    Mets-Willets Point  40.752390 -73.84370
11        18  Flushing Main Street  40.757890 -73.83135
12        19           Murray Hill  40.762700 -73.81454
13        20              Broadway  40.761640 -73.80176
14        21            Auburndale  40.761430 -73.78996
15        22               Bayside  40.763140 -73.77125
16        23            Douglaston  40.768060 -73.74941
17        24           Little Neck  40.775040 -73.74065
18        25            Great Neck  40.787210 -73.72610
19        26             Manhasset  40.796720 -73.69990
20        27              Plandome  40.810690 -73.69521
21        28       Port Washington  40.829030 -73.68740
22        30                Hollis  40.710170 -73.76675
23        31        Queens Village  40.717450 -73.73646
24        32               Belmont  40.715490 -73.72862
25        33             Bellerose  40.722200 -73.71665
26        34           Floral Park  40.724630 -73.70640
27        35         Stewart Manor  40.723020 -73.68102
28        36      Nassau Boulevard  40.722950 -73.66270
29        37           Garden City  40.723090 -73.64036
..       ...                   ...        ...       ...
94       105            Long Beach  40.590170 -73.66482
95       106      Rockville Centre  40.658310 -73.64655
96       107               Baldwin  40.656720 -73.60716
97       108              Freeport  40.657450 -73.58232
98       109               Merrick  40.663790 -73.55062
99       110              Bellmore  40.668790 -73.52886
100      111               Wantagh  40.672980 -73.50896
101      112               Seaford  40.675720 -73.48657
102      113            Massapequa  40.676920 -73.46905
103      114       Massapequa Park  40.677850 -73.45474
104      115            Amityville  40.680240 -73.42031
105      116              Copiague  40.681010 -73.39834
106      117           Lindenhurst  40.688260 -73.36921
107      118               Babylon  40.700680 -73.32405
108      119             Bay Shore  40.724430 -73.25408
109      120                 Islip  40.735830 -73.20932
110      121           Great River  40.740440 -73.17019
111      122               Oakdale  40.743420 -73.13243
112      123              Sayville  40.740350 -73.08645
113      124             Patchogue  40.761870 -73.01574
114      126              Bellport  40.773730 -72.94396
115      127        Mastic Shirley  40.798980 -72.86442
116      129                Speonk  40.821170 -72.70427
117      130           Westhampton  40.830300 -72.65032
118      132          Hampton Bays  40.876600 -72.52395
119      134           Southampton  40.894710 -72.39012
120      135         Bridgehampton  40.938980 -72.31005
121      136          East Hampton  40.965080 -72.19324
122      137            Amagansett  40.980030 -72.13233
123      138               Montauk  41.047100 -71.95388

[124 rows x 4 columns]

    stop_id   stop_name  stop_lat  stop_lon
47       56  Hicksville  40.76717 -73.52853

In [13]:
trips = pd.read_csv('Long Island Rail Road/trips.txt').set_index('trip_id')
trips.head()

,route_id,service_id,trip_headsign,trip_short_name,direction_id,shape_id
trip_id,,,,,,
GO103_152,1,GO103_1565,Babylon,2,0,0
GO103_153,1,GO103_1565,Penn Station,3,1,1
GO103_154,1,GO103_1565,Babylon,4,0,0
GO103_155,1,GO103_1565,Penn Station,5,1,1
GO103_156,1,GO103_1565,Babylon,6,0,0

In [14]:
#stop_times = pd.read_csv('Long Island Rail Road/stop_times.txt').set_index('stop_id')
stop_times = pd.read_csv('Long Island Rail Road/stop_times.txt')
print stop_times.head()

     trip_id arrival_time departure_time  stop_id  stop_sequence
0  GO103_152     00:01:00       00:01:00        8              1
1  GO103_152     00:13:00       00:13:00        9              2
2  GO103_152     00:18:00       00:18:00       10              3
3  GO103_152     00:20:00       00:20:00       11              4
4  GO103_152     00:24:00       00:26:00       15              5

In [73]:
df1 = pd.DataFrame(np.random.randn(6,4), index=list('abcdef'), columns=list('ABCD'))
print dfl
df1.loc[['a'],:]
df1.loc['a']

                   A         B         C         D
2013-01-01 -0.338167  0.577662  1.720896 -0.894143
2013-01-02  0.436397 -0.517241  0.073210  0.132126
2013-01-03 -0.306367 -0.997953  0.614197  0.532806
2013-01-04 -0.057148  0.359817 -0.045676  0.403575
2013-01-05 -0.757989 -0.763813  0.343679 -0.441170

A   -1.534315
B   -0.096154
C    0.676685
D   -0.228361
Name: a, dtype: float64

In [87]:
# GOAL: get trip_id that start at 
hpid=stops[(stops["stop_name"]=="Hicksville")]
print hpid

#hp = stop_times[(stop_times["stop_id"]==2) & (stop_times["stop_sequence"].isin([1,2]))]
#hp
hp = stop_times[(stop_times["stop_id"]==2)]
print hp["trip_id"].count()
print hp.head()

    stop_id   stop_name  stop_lat  stop_lon
47       56  Hicksville  40.76717 -73.52853
23
          trip_id arrival_time departure_time  stop_id  stop_sequence
2929  GO103_15507     08:29:00       08:29:00        2             13
2943  GO103_15509     08:55:00       08:55:00        2             13
2956  GO103_15511     09:28:00       09:28:00        2             13
3090  GO103_15558     16:18:00       16:18:00        2              1
3116  GO103_15560     16:59:00       16:59:00        2              2

In [85]:
hv = stop_times[(stop_times["stop_id"]==56)]
print hv["trip_id"].count()

464

In [88]:
pd.merge(hp, hv, on='trip_id')

,trip_id,arrival_time_x,departure_time_x,stop_id_x,stop_sequence_x,arrival_time_y,departure_time_y,stop_id_y,stop_sequence_y
0,GO103_15613,08:43:00,08:43:00,2,12,08:00:00,08:00:00,56,9
1,GO103_15666,18:08:00,18:08:00,2,2,18:50:00,18:50:00,56,5
2,GO103_15668,18:30:00,18:30:00,2,1,19:10:00,19:10:00,56,3
3,GO103_151621,07:49:00,07:49:00,2,6,07:08:00,07:08:00,56,4
4,GO103_152068,17:29:00,17:29:00,2,1,18:08:00,18:08:00,56,4
5,GO103_152703,08:36:00,08:36:00,2,17,07:57:00,07:57:00,56,14
6,GO103_152778,16:44:00,16:44:00,2,2,17:27:00,17:27:00,56,5

In [16]:
pd.merge(stops, stop_times, on='stop_id')

KeyError: 'stop_id'