In [1]:
import pandas as pd
import numpy as np

In [6]:
import matplotlib.pyplot as plt
pd.set_option('max_columns', 50)
%matplotlib inline

In [5]:
# create a Series with an arbitrary list
s = pd.Series([7, 'Heisenberg', 3.14, -1789710578, 'Happy Eating!'])
s

0                7
1       Heisenberg
2             3.14
3      -1789710578
4    Happy Eating!
dtype: object

In [4]:
routes = pd.read_csv('Long Island Rail Road/routes.txt').set_index('route_id')
routes

,route_short_name,route_long_name,route_type,route_color,route_text_color
route_id,,,,,
1,NaN,Babylon,2,00985F,FFFFFF
2,NaN,Hempstead,2,CE8E00,FFFFFF
3,NaN,Oyster Bay,2,00AF3F,FFFFFF
4,NaN,Ronkonkoma,2,A626AA,FFFFFF
5,NaN,Montauk,2,006983,FFFFFF
6,NaN,Long Beach,2,FF6319,FFFFFF
7,NaN,Far Rockaway,2,6E3219,FFFFFF
8,NaN,West Hempstead,2,00A1DE,FFFFFF
9,NaN,Port Washington,2,C60C30,FFFFFF
10,NaN,Port Jefferson,2,0039A6,FFFFFF
11,NaN,Belmont,2,FFFFFF,000000
12,NaN,City Zone,2,4D5357,FFFFFF

In [9]:
stops = pd.read_csv('Long Island Rail Road/stops.txt').set_index('stop_id')
print stops

                    stop_name   stop_lat  stop_lon
stop_id
1            Long Island City  40.741280 -73.95639
2         Hunterspoint Avenue  40.742380 -73.94679
8                Penn Station  40.750580 -73.99358
9                    Woodside  40.745840 -73.90297
10               Forest Hills  40.719570 -73.84481
11                Kew Gardens  40.709640 -73.83089
12          Atlantic Terminal  40.684901 -73.97768
13            Nostrand Avenue  40.678380 -73.94822
14              East New York  40.675800 -73.90281
15                    Jamaica  40.699600 -73.80853
17         Mets-Willets Point  40.752390 -73.84370
18       Flushing Main Street  40.757890 -73.83135
19                Murray Hill  40.762700 -73.81454
20                   Broadway  40.761640 -73.80176
21                 Auburndale  40.761430 -73.78996
22                    Bayside  40.763140 -73.77125
23                 Douglaston  40.768060 -73.74941
24                Little Neck  40.775040 -73.74065
25                 Great Neck  40.787210 -73.72610
26                  Manhasset  40.796720 -73.69990
27                   Plandome  40.810690 -73.69521
28            Port Washington  40.829030 -73.68740
30                     Hollis  40.710170 -73.76675
31             Queens Village  40.717450 -73.73646
32                    Belmont  40.715490 -73.72862
33                  Bellerose  40.722200 -73.71665
34                Floral Park  40.724630 -73.70640
35              Stewart Manor  40.723020 -73.68102
36           Nassau Boulevard  40.722950 -73.66270
37                Garden City  40.723090 -73.64036
...                       ...        ...       ...
105                Long Beach  40.590170 -73.66482
106          Rockville Centre  40.658310 -73.64655
107                   Baldwin  40.656720 -73.60716
108                  Freeport  40.657450 -73.58232
109                   Merrick  40.663790 -73.55062
110                  Bellmore  40.668790 -73.52886
111                   Wantagh  40.672980 -73.50896
112                   Seaford  40.675720 -73.48657
113                Massapequa  40.676920 -73.46905
114           Massapequa Park  40.677850 -73.45474
115                Amityville  40.680240 -73.42031
116                  Copiague  40.681010 -73.39834
117               Lindenhurst  40.688260 -73.36921
118                   Babylon  40.700680 -73.32405
119                 Bay Shore  40.724430 -73.25408
120                     Islip  40.735830 -73.20932
121               Great River  40.740440 -73.17019
122                   Oakdale  40.743420 -73.13243
123                  Sayville  40.740350 -73.08645
124                 Patchogue  40.761870 -73.01574
126                  Bellport  40.773730 -72.94396
127            Mastic Shirley  40.798980 -72.86442
129                    Speonk  40.821170 -72.70427
130               Westhampton  40.830300 -72.65032
132              Hampton Bays  40.876600 -72.52395
134               Southampton  40.894710 -72.39012
135             Bridgehampton  40.938980 -72.31005
136              East Hampton  40.965080 -72.19324
137                Amagansett  40.980030 -72.13233
138                   Montauk  41.047100 -71.95388

[124 rows x 3 columns]

In [7]:
trips = pd.read_csv('Long Island Rail Road/trips.txt').set_index('trip_id')
trips.head()

,route_id,service_id,trip_headsign,trip_short_name,direction_id,shape_id
trip_id,,,,,,
GO103_152,1,GO103_1565,Babylon,2,0,0
GO103_153,1,GO103_1565,Penn Station,3,1,1
GO103_154,1,GO103_1565,Babylon,4,0,0
GO103_155,1,GO103_1565,Penn Station,5,1,1
GO103_156,1,GO103_1565,Babylon,6,0,0

In [52]:
#stop_times = pd.read_csv('Long Island Rail Road/stop_times.txt').set_index('stop_id')
stop_times = pd.read_csv('Long Island Rail Road/stop_times.txt')
print stop_times.head()

     trip_id arrival_time departure_time  stop_id  stop_sequence
0  GO103_152     00:01:00       00:01:00        8              1
1  GO103_152     00:13:00       00:13:00        9              2
2  GO103_152     00:18:00       00:18:00       10              3
3  GO103_152     00:20:00       00:20:00       11              4
4  GO103_152     00:24:00       00:26:00       15              5

In [62]:
stop_times[(stop_times["stop_id"]==2) & (stop_times["stop_sequence"].isin([1,2]))]

# GOAL: get trip_id that start at

           trip_id arrival_time departure_time  stop_id  stop_sequence
3090   GO103_15558     16:18:00       16:18:00        2              1
3116   GO103_15560     16:59:00       16:59:00        2              2
3188   GO103_15566     18:41:00       18:41:00        2              1
3477   GO103_15656     15:40:00       15:40:00        2              2
3524   GO103_15662     17:12:00       17:12:00        2              1
3549   GO103_15664     17:47:00       17:47:00        2              2
3567   GO103_15666     18:08:00       18:08:00        2              2
3581   GO103_15668     18:30:00       18:30:00        2              1
6611  GO103_152068     17:29:00       17:29:00        2              1
7060  GO103_152712     16:30:00       16:30:00        2              1
7388  GO103_152778     16:44:00       16:44:00        2              2

In [1]:
pd.merge(stops, stop_times, on='stop_id')

NameError: name 'pd' is not defined